h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  width: auto;
  height: auto;
  background-color: #1c0e3f;
  background-image: linear-gradient(#1c0e3f, #3d2663 58%, #5120a2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}

.section.center {
  height: 100vh;
  background-color: #0026cf;
  background-image: linear-gradient(#1130dd, #1c0e3f);
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section.column {
  height: auto;
  justify-content: space-between;
  padding: 15vh 10vw;
  display: flex;
}

.section.column.devices {
  height: auto;
  flex-direction: column;
  align-items: center;
}

.section.column.faq {
  height: auto;
  background-color: #000;
  flex-direction: column;
  align-items: center;
}

.section.cta {
  height: 60vh;
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section.full-img {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section.wide {
  height: auto;
  background-color: #1b1b1b;
  background-image: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section.wide.img {
  background-color: #1c0e3f;
  background-image: linear-gradient(#1c0e3f, #1c0e3f);
  padding-bottom: 0;
}

.section.wide.purple {
  background-image: linear-gradient(#5120a2, #1f0433 100%, #602bb6);
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.section.grid-imgs {
  height: 50vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}

.col {
  max-width: 50%;
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  width: 25vw;
  flex: 0 auto;
}

.col.padding {
  max-width: 50%;
  border-style: none;
  flex: 1;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  width: 100%;
  height: auto;
  background-color: #0026cf;
  background-image: linear-gradient(#0026cf, #602bb6);
  border: 1px #000;
  padding: 0 10vw;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.nav {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-inner {
  width: 80vw;
  border-bottom: 1px rgba(255, 255, 255, .1);
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

.body {
  background-color: rgba(0, 0, 0, 0);
  font-family: Gothic A1, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  width: 80vw;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  width: 50vw;
  max-width: 450px;
  text-align: center;
  border: 1px #000;
  flex: none;
  padding-left: 4vw;
  padding-right: 4vw;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  width: 33.33%;
  max-width: none;
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #fc0a7e;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  height: 8600px;
  background-image: url('../images/richard-01.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.div-block-3._02 {
  background-image: url('../images/richard-02.jpg');
  background-size: 100vw;
}

.div-block-3._03 {
  height: 6000px;
  background-image: url('../images/richard-03.jpg');
  background-size: 100vw;
}

.div-block-4 {
  width: 65%;
  max-width: 440px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  width: 100vw;
  align-items: flex-start;
  position: relative;
}

.wrap {
  max-width: 700px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  color: #a8a8a8;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px #2e2e2e;
  align-self: center;
  padding-bottom: 5px;
  font-size: 12px;
  display: inline-block;
  position: static;
}

.title.white {
  color: rgba(255, 255, 255, .6);
  border-bottom-color: rgba(255, 255, 255, .4);
}

.image-2 {
  flex: none;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  width: auto;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.button-wrap {
  width: auto;
  justify-content: center;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  width: 100%;
  height: 300px;
  background-color: #c6ced3;
  border-radius: 20px;
}

.thumb-food._01 {
  background-image: url('../images/bg-001_1.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('../images/bg-001.jpg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('../images/bg-003.jpg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-link.w--current {
  color: #fff;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  width: 100%;
  height: 300px;
  background-color: #acb1b4;
  border-radius: 20px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  width: 56px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  width: 340px;
  height: 80px;
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: color-burn;
  background-color: #6e2ed8;
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity .2s, opacity;
  position: absolute;
  bottom: 0;
  right: 3vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
}

.hero-content {
  z-index: 90;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vh;
  position: relative;
}

.feature-wrap {
  width: 90vw;
  text-align: center;
  border: 1px #000;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  height: auto;
  border-style: none;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  width: 50vw;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.black {
  color: #fff;
}

.hero-subhead {
  max-width: 60%;
  color: #fff;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.black-bar {
  width: 100vw;
  height: 100px;
  background-color: #2a2326;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  height: 35px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1f0433;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  height: 70px;
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::-ms-input-placeholder {
  color: #555;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  width: 90vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  width: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  width: 30px;
  height: 1px;
  background-color: #d3d3d3;
  flex: none;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-size: 60px;
  line-height: 90px;
}

.float {
  width: 40vw;
  height: 50vh;
  border: 4px solid #09a4ec;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.nav-menu-2 {
  position: -webkit-sticky;
  position: sticky;
}

.image-licensing {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  max-width: 600px;
  flex: 1;
}

.text-block-3 {
  color: #fff;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
}

.paragraph-2 {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 0;
}

.paragraph-3 {
  color: #fff;
}

.text-block-4 {
  color: #fff;
  object-fit: contain;
  font-size: 16px;
  overflow: auto;
}

.paragraph-4 {
  color: #000;
}

.paragraph-5 {
  color: #fff;
}

.heading-4 {
  color: #fd9404;
  margin-top: 20px;
  margin-bottom: 0;
}

.bold-text, .paragraph-6, .paragraph-7, .paragraph-8 {
  color: #fff;
}

.heading-5 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
}

.heading-6 {
  margin-top: 20px;
}

.html-embed {
  margin-bottom: 100px;
}

.column-2 {
  display: flex;
}

.heading-7 {
  order: 0;
  align-self: center;
  margin-left: 0;
  display: block;
}

.list-item, .list-item-2 {
  color: #fff;
}

.heading-8 {
  margin-top: 40px;
}

.heading-9 {
  margin-top: 20px;
}

.heading-10 {
  margin-top: 0;
  margin-bottom: 20px;
}

.list-2 {
  list-style-type: disc;
}

.list-item-3 {
  color: #fff;
  text-align: left;
}

.list-item-4 {
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.list-item-5 {
  margin-top: 10px;
}

.bold-text-2, .bold-text-3, .bold-text-4, .bold-text-5, .text-block-5, .test {
  color: #fff;
}

.text-span, .text-span-2 {
  color: orange;
}

.paragraph-9 {
  color: #fff;
}

.text-span-3, .text-span-4, .text-span-5, .text-span-6 {
  color: orange;
}

.image-5 {
  color: #fff;
  margin-bottom: 20px;
}

.paragraph-10 {
  color: #fff;
}

.image-6 {
  margin-bottom: 20px;
}

.text-span-7 {
  color: orange;
}

.image-7 {
  display: inline-block;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: flex;
}

.image-8, .image-9 {
  margin-bottom: 20px;
}

.text-span-8, .text-span-9, .text-span-10, .text-span-11, .text-span-12, .text-span-13, .text-span-14 {
  color: orange;
}

.text-block-6 {
  color: #fff;
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    height: auto;
    flex-direction: column;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    height: auto;
    background-image: none;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    min-width: 240px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-content.icons {
    width: auto;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    width: 50%;
    flex: none;
    align-items: center;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.center {
    padding-bottom: 10vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .image-2 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button-wrap {
    width: 90vw;
    flex-direction: column;
  }

  .hero-image {
    width: 80%;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .form-2 {
    width: 90vw;
    flex-direction: column;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }

  .paragraph-3 {
    text-align: center;
  }

}


